//
// Typography
//

// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
h1, h2, h3, h4, h5, h6 {
  margin-bottom: $hive-factor * .5rem;
}

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
  margin-bottom: $hive-factor * 1rem;
}

address {
  margin-bottom: $hive-factor * 1rem;
}

ol,
ul,
dl {
  margin-bottom: $hive-factor * 1rem;
}

dd {
  margin-bottom: $hive-factor * .5rem;
}

blockquote {
  margin: 0 0 ($hive-factor * 1rem);
}


//
// Code
//

pre {
  margin-bottom: $hive-factor * 1rem;

}


//
// Figures
//

figure {
  // Normalize adds `margin` to `figure`s as browsers apply it inconsistently.
  // We reset that to create a better flow in-page.
  margin: 0 0 ($hive-factor * 1rem);
}


//
// Forms
//

label {
  margin-bottom: $hive-factor * .5rem;
}

legend {
  margin-bottom: $hive-factor * .5rem;
  font-size: $hive-factor * 1.5rem;
}